openapi: 3.0.3
info:
  title: Antfly Cloud Platform API
  description: Public management APIs for Antfly Cloud organizations, billing, authentication, hosted instances, Cloud RBAC, backups, metrics, and usage.
  version: 1.0.0
  contact:
    name: Antfly Cloud Support
    url: https://platform.antfly.io
  license:
    name: Proprietary
servers:
  - url: https://platform.antfly.io/api/v1
    description: Production
tags:
  - name: Instances
    description: Cloud instance lifecycle management
  - name: CloudAPIKeys
    description: API key management for cloud instances
  - name: CloudTables
    description: Logical table registry for cloud instances
  - name: CloudMetrics
    description: Instance metrics and events
  - name: CloudBackups
    description: Backup and restore management for cloud instances
  - name: CloudRBAC
    description: Cloud instance groups and grants
  - name: CloudBilling
    description: Cloud committed-capacity billing and credits
paths:
  /organizations/{org_id}/cloud/estimate:
    post:
      summary: Estimate cloud credits
      description: Estimate cloud credit usage and spend-limit impact for a prospective cloud operation.
      operationId: estimateCloudCredits
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudCreditEstimateRequest'
      responses:
        '200':
          description: Cloud credit estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudCreditEstimate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/commitments:
    get:
      summary: List cloud billing commitments
      description: List committed-capacity charges and refunds for cloud instances.
      operationId: listCloudCommitments
      tags:
        - CloudBilling
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: instance_id
          in: query
          schema:
            $ref: '#/components/schemas/UUID'
          description: Optional cloud instance filter
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Cloud billing commitments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBillingCommitmentList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/instances:
    get:
      summary: List cloud instances
      description: List all cloud instances for an organization
      operationId: listCloudInstances
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Cloud instances
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudInstance'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create cloud instance
      description: |
        Create a new hosted AntflyDB instance. Provisioning is asynchronous —
        the instance is created with status=pending and a dedicated cluster is
        provisioned in the background.
      operationId: createCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudInstanceRequest'
      responses:
        '201':
          description: Provisioning started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}/cloud/instances/{instance_id}:
    get:
      summary: Get cloud instance
      description: Get cloud instance details including status and connection info
      operationId: getCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Cloud instance details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update cloud instance
      description: Update instance configuration (rename, scale)
      operationId: updateCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudInstanceRequest'
      responses:
        '200':
          description: Cloud instance updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete cloud instance
      description: |
        Delete a cloud instance. Deprovisioning is asynchronous — the instance
        status is set to deprovisioning and the dedicated cluster is cleaned up
        in the background.
      operationId: deleteCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '202':
          description: Deletion accepted (may be async for dedicated clusters)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/provider-auths/{auth_id}/objects:
    get:
      summary: List S3 objects for a cloud instance credential
      description: Lists immediate prefixes and objects for a bucket/prefix authorized by the selected S3 credential. Responses may be truncated when the requested limit is reached.
      operationId: listCloudInstanceProviderAuthObjects
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/AuthId'
        - name: bucket
          in: query
          required: true
          schema:
            type: string
          description: Allowed bucket name to list.
        - name: prefix
          in: query
          schema:
            type: string
          description: Optional object key prefix.
        - name: recursive
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to list recursively instead of returning immediate prefixes.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 200
          description: Maximum number of object entries to return.
      responses:
        '200':
          description: Bucket object listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3ObjectListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/import-jobs/{job_id}/pause:
    post:
      summary: Pause import job
      operationId: pauseImportJob
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Import job paused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/import-jobs/{job_id}/resume:
    post:
      summary: Resume import job
      operationId: resumeImportJob
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Import job resumed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/import-jobs/{job_id}/archive:
    post:
      summary: Archive import job
      operationId: archiveImportJob
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Import job archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/import-jobs/{job_id}:
    delete:
      summary: Archive import job
      description: Archives the import job while retaining run history. This is an alias for the archive action.
      operationId: deleteImportJob
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Import job archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/provision:
    post:
      summary: Provision cloud instance
      description: |
        Retry or repair provisioning for an existing cloud instance. This action
        reconciles existing infrastructure in place and does not delete the
        instance namespace, CRD, or persistent volumes.
      operationId: provisionCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Provisioning already active or instance already ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '202':
          description: Provisioning accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}/cloud/instances/{instance_id}/ha/status-sync:
    post:
      summary: Sync hot-standby HA status
      description: |
        Queue an immediate Cloud reconciliation pass so Cloud pulls the latest
        operator-observed hot-standby HA status, planned actions, fencing state,
        route state, and promotion blockers into the public instance status.
      operationId: syncCloudInstanceHAStatus
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '202':
          description: HA status sync queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHAStatusSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}/cloud/instances/{instance_id}/tables:
    get:
      summary: List cloud instance tables
      description: List logical tables registered for a cloud instance.
      operationId: listCloudInstanceTables
      tags:
        - CloudTables
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Cloud instance tables
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudInstanceTable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create cloud instance table
      description: Register and create a table in the cloud instance.
      operationId: createCloudInstanceTable
      tags:
        - CloudTables
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudInstanceTableRequest'
      responses:
        '201':
          description: Cloud instance table created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstanceTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/groups:
    get:
      summary: List cloud groups
      operationId: listCloudGroups
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Cloud groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudGroup'
                  meta:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create cloud group
      operationId: createCloudGroup
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudGroupRequest'
      responses:
        '201':
          description: Cloud group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/groups/{group_id}:
    patch:
      summary: Update cloud group
      operationId: updateCloudGroup
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/GroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudGroupRequest'
      responses:
        '200':
          description: Cloud group updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/users/{user_id}/attributes:
    get:
      summary: Get cloud user attributes
      operationId: getCloudUserAttributes
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: user_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Cloud user attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudUserAttributes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update cloud user manual attributes
      operationId: updateCloudUserAttributes
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: user_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudUserAttributesRequest'
      responses:
        '200':
          description: Cloud user attributes updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudUserAttributes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/scim/groups:
    put:
      summary: Sync SCIM cloud groups
      description: Upsert SCIM-managed groups and replace their membership snapshots for an organization.
      operationId: syncCloudSCIMGroups
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudSCIMGroupSyncRequest'
      responses:
        '200':
          description: SCIM groups synced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudSCIMGroupSyncResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/groups/{group_id}/members:
    get:
      summary: List cloud group members
      operationId: listCloudGroupMembers
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/GroupId'
      responses:
        '200':
          description: Cloud group members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudGroupMember'
                  meta:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Add cloud group member
      operationId: addCloudGroupMember
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/GroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCloudGroupMemberRequest'
      responses:
        '201':
          description: Group member added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGroupMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/groups/{group_id}/members/{user_id}:
    delete:
      summary: Remove cloud group member
      operationId: removeCloudGroupMember
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/GroupId'
        - name: user_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Group member removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/grants:
    get:
      summary: List cloud grants
      operationId: listCloudGrants
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Cloud grants
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudGrant'
                  meta:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      summary: Upsert cloud grant
      operationId: upsertCloudGrant
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCloudGrantRequest'
      responses:
        '200':
          description: Cloud grant upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGrant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/instances/{instance_id}/grants/{grant_id}:
    delete:
      summary: Delete cloud grant
      operationId: deleteCloudGrant
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - name: grant_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Cloud grant deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/connection:
    get:
      summary: Get connection details
      description: Get connection URL and instructions for connecting to the instance
      operationId: getCloudInstanceConnection
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Connection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/events:
    get:
      summary: List provisioning events
      description: Get provisioning and lifecycle events for a cloud instance
      operationId: listCloudInstanceEvents
      tags:
        - CloudMetrics
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Provisioning events
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProvisioningEvent'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/metrics:
    get:
      summary: Get instance metrics
      description: Get storage, query, and node health metrics for a cloud instance
      operationId: getCloudInstanceMetrics
      tags:
        - CloudMetrics
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Instance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/api-keys:
    get:
      summary: List Antfly Cloud management API keys
      description: List organization-scoped Antfly Cloud management API keys
      operationId: listCloudManagementAPIKeys
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Management API keys
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudAPIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create Antfly Cloud management API key
      description: Create an organization-scoped antfly_cloud_* key for Antfly Cloud management API calls
      operationId: createCloudManagementAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudManagementAPIKeyRequest'
      responses:
        '201':
          description: Management API key created. The full key is only returned once at creation time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAPIKeyCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/api-keys/{key_id}:
    patch:
      summary: Update Antfly Cloud management API key
      description: Update mutable settings for an organization-scoped antfly_cloud_* management API key
      operationId: updateCloudManagementAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/CloudKeyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudAPIKeyRequest'
      responses:
        '204':
          description: Management API key updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Revoke Antfly Cloud management API key
      description: Revoke an organization-scoped antfly_cloud_* management API key
      operationId: revokeCloudManagementAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/CloudKeyId'
      responses:
        '204':
          description: Management API key revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/api-keys:
    get:
      summary: List cloud API keys
      description: List API keys for a cloud instance
      operationId: listCloudAPIKeys
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: API keys
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudAPIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create cloud API key
      description: Create a new API key for accessing the cloud instance
      operationId: createCloudAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudAPIKeyRequest'
      responses:
        '201':
          description: API key created. The full key is only returned once at creation time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAPIKeyCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/api-keys/{key_id}:
    patch:
      summary: Update cloud API key
      description: Update mutable settings for an instance-scoped antflydb_* API key
      operationId: updateCloudAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/CloudKeyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudAPIKeyRequest'
      responses:
        '204':
          description: API key updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Revoke cloud API key
      description: Revoke an API key for a cloud instance
      operationId: revokeCloudAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/CloudKeyId'
      responses:
        '204':
          description: API key revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/backups:
    get:
      summary: List cloud backups
      description: List backups for a cloud instance
      operationId: listCloudBackups
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Backup list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - total
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudBackup'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create on-demand backup
      description: Trigger an on-demand backup for the cloud instance
      operationId: createCloudBackup
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '202':
          description: Backup accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}/cloud/instances/{instance_id}/backups/{backup_record_id}:
    get:
      summary: Get cloud backup
      description: Get details of a specific backup
      operationId: getCloudBackup
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/BackupRecordId'
      responses:
        '200':
          description: Backup details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete cloud backup
      description: Delete a backup record
      operationId: deleteCloudBackup
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/BackupRecordId'
      responses:
        '204':
          description: Backup deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/restore:
    post:
      summary: Restore from backup
      description: Restore a cloud instance from a backup using overwrite mode
      operationId: createCloudRestore
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudRestoreRequest'
      responses:
        '202':
          description: Restore accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRestore'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}/cloud/instances/{instance_id}/restores:
    get:
      summary: List cloud restores
      description: List restore operations for a cloud instance
      operationId: listCloudRestores
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Restore list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - total
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudRestore'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/restores/{restore_id}:
    get:
      summary: Get cloud restore
      description: Get details of a specific restore operation
      operationId: getCloudRestore
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/RestoreId'
      responses:
        '200':
          description: Restore details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRestore'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/usage:
    get:
      summary: Get cloud usage
      description: Get current billing cycle usage for all cloud instances in an organization
      operationId: getCloudUsage
      tags:
        - CloudMetrics
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudUsageSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/instances/{instance_id}/api-keys/{key_id}/rotate:
    post:
      summary: Rotate cloud API key
      description: Revoke the existing key and create a new one with the same name and permissions
      operationId: rotateCloudAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/CloudKeyId'
      responses:
        '200':
          description: New API key (old key revoked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAPIKeyCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/api-keys/{key_id}/rotate:
    post:
      summary: Rotate Antfly Cloud management API key
      description: Atomically revoke an antfly_cloud_* key and create a replacement with the same scopes
      operationId: rotateCloudManagementAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/CloudKeyId'
      responses:
        '200':
          description: Management API key rotated. The replacement full key is only returned once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAPIKeyCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/backups/{backup_record_id}/download:
    get:
      summary: Get backup download URL
      description: Get a presigned URL to download a completed backup
      operationId: downloadCloudBackup
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/BackupRecordId'
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackupDownload'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/backup-schedule:
    get:
      summary: Get backup schedule
      description: Get the backup schedule configuration for a cloud instance
      operationId: getCloudBackupSchedule
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Backup schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackupSchedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update backup schedule
      description: Create or update the backup schedule for a cloud instance
      operationId: updateCloudBackupSchedule
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudBackupScheduleRequest'
      responses:
        '200':
          description: Backup schedule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackupSchedule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from OAuth flow or API key
  schemas:
    CloudInstanceStatus:
      type: string
      enum:
        - pending
        - provisioning
        - ready
        - updating
        - degraded
        - suspended
        - deprovisioning
        - deleted
        - failed
      description: Instance lifecycle status
    CloudInstanceVersionPolicy:
      type: string
      enum:
        - pinned
        - patch_auto
        - minor_auto
        - major_manual
      description: Antfly runtime version policy for managed upgrades.
    CloudInstanceVersionUpgradeStatus:
      type: string
      enum:
        - idle
        - pending
        - rolling
        - failed
        - blocked
      description: Antfly runtime rollout status.
    CloudInstanceMode:
      type: string
      enum:
        - single
        - distributed
      description: Cloud deployment topology. `single` provisions one Swarm Antfly node; `distributed` provisions separate Raft-backed metadata and data node groups.
    CloudHAFencingAuthority:
      type: string
      enum:
        - none
        - kubernetes_lease
      description: Fencing authority used for hot-standby promotion decisions.
    CloudHASyncMode:
      type: string
      enum:
        - async
        - remote_write
        - remote_apply
      description: Standby durability mode for hot-standby replication.
    CloudHAHealth:
      type: string
      enum:
        - disabled
        - provisioning
        - healthy
        - degraded
        - unhealthy
        - lagging
        - reseed_required
        - promoting
      description: Cloud-visible hot-standby health state.
    CloudHAConfig:
      type: object
      description: Hot-standby HA add-on configuration. Supported only with `mode=single`; distributed mode is the separate Raft-backed topology.
      properties:
        enabled:
          type: boolean
          default: false
          description: Enables one primary with hot standby replica nodes.
        standby_count:
          type: integer
          minimum: 1
          maximum: 26
          default: 1
          description: Desired hot standby replica count when HA is enabled.
        automatic_failover_enabled:
          type: boolean
          default: false
          description: Allows fenced operator-managed automatic promotion when prerequisites are satisfied.
        fencing_authority:
          $ref: '#/components/schemas/CloudHAFencingAuthority'
          default: kubernetes_lease
        sync_mode:
          $ref: '#/components/schemas/CloudHASyncMode'
          default: remote_apply
        maximum_lag_lsn:
          type: integer
          format: int64
          minimum: 0
          default: 0
          description: Maximum tolerated standby lag for automatic promotion. Zero uses operator/runtime defaults.
    CloudHAStandbyStatus:
      type: object
      description: Observed hot-standby replica status.
      properties:
        name:
          type: string
        slot_name:
          type: string
        node_id:
          type: string
        health:
          $ref: '#/components/schemas/CloudHAHealth'
        received_lsn:
          type: integer
          format: int64
          minimum: 0
        applied_lsn:
          type: integer
          format: int64
          minimum: 0
        safe_read_lsn:
          type: integer
          format: int64
          minimum: 0
        lag_lsn:
          type: integer
          format: int64
          minimum: 0
        reseed_required:
          type: boolean
    CloudHAPlannedActionStatus:
      type: object
      description: Cloud-visible summary of one operator-planned HA workflow action.
      properties:
        kind:
          type: string
        phase:
          type: string
        executor:
          type: string
        depends_on:
          type: string
        reason:
          type: string
        standby_name:
          type: string
        slot_name:
          type: string
        target_lsn:
          type: integer
          format: int64
          minimum: 0
        observed_lsn:
          type: integer
          format: int64
          minimum: 0
        retained_from_lsn:
          type: integer
          format: int64
          minimum: 0
        route_from:
          type: string
        route_to:
          type: string
        fence_authority:
          $ref: '#/components/schemas/CloudHAFencingAuthority'
        fence_holder:
          type: string
        fence_generation:
          type: integer
          format: int64
          minimum: 0
        admin_method:
          type: string
        admin_path:
          type: string
        admin_job_name:
          type: string
        admin_job_phase:
          type: string
        admin_error:
          type: string
        rejoin_action:
          type: string
          description: Former-primary rejoin action reported by the typed HA admin workflow, such as rewind or reseed.
        rejoin_reason:
          type: string
          description: Reason the operator/admin workflow selected the former-primary rejoin action.
        former_node_id:
          type: string
          description: Former primary node ID reported by the typed HA admin workflow.
    CloudHAFormerPrimaryStatus:
      type: object
      description: Cloud-visible former-primary rejoin/rewind/reseed disposition after a hot-standby promotion.
      properties:
        node_id:
          type: string
        fenced:
          type: boolean
        rejoin_required:
          type: boolean
        rewind_possible:
          type: boolean
        reseed_required:
          type: boolean
        diverged:
          type: boolean
        parent_timeline_id:
          type: integer
          format: int64
          minimum: 0
        new_timeline_id:
          type: integer
          format: int64
          minimum: 0
        observed_timeline_id:
          type: integer
          format: int64
          minimum: 0
        switch_lsn:
          type: integer
          format: int64
          minimum: 0
        observed_lsn:
          type: integer
          format: int64
          minimum: 0
        fence_authority:
          $ref: '#/components/schemas/CloudHAFencingAuthority'
        fence_holder:
          type: string
        fence_generation:
          type: integer
          format: int64
          minimum: 0
        target_timeline_id:
          type: integer
          format: int64
          minimum: 0
        target_epoch:
          type: integer
          format: int64
          minimum: 0
        fork_lsn:
          type: integer
          format: int64
          minimum: 0
        former_last_lsn:
          type: integer
          format: int64
          minimum: 0
        retained_from_lsn:
          type: integer
          format: int64
          minimum: 0
        data_loss_discarded:
          type: boolean
        assessed_action:
          type: string
          description: Operator-assessed former-primary rejoin action, such as rewind or reseed.
        assessed_reason:
          type: string
          description: Operator-assessed reason for the former-primary rejoin action.
        action:
          type: string
          description: Current former-primary workflow action.
        reason:
          type: string
          description: Current former-primary workflow reason.
    CloudHASyncStatus:
      type: object
      description: Observed hot-standby synchronous durability policy state.
      properties:
        mode:
          type: string
          description: Observed durability mode reported by the operator.
        selection:
          type: string
          description: Standby selection policy used by the sync policy.
        required:
          type: integer
          format: int32
          minimum: 0
        satisfied:
          type: integer
          format: int32
          minimum: 0
        candidates:
          type: integer
          format: int32
          minimum: 0
        failure_policy:
          type: string
        degraded:
          type: boolean
        action:
          type: string
    CloudHARetentionStatus:
      type: object
      description: Observed HA WAL retention pressure from standby replication slots.
      properties:
        oldest_restart_lsn:
          type: integer
          format: int64
          minimum: 0
        retained_lsn_count:
          type: integer
          format: int64
          minimum: 0
        retained_byte_count:
          type: integer
          format: int64
          minimum: 0
        retained_age_ns:
          type: integer
          format: int64
          minimum: 0
        active_slots:
          type: integer
          format: int32
          minimum: 0
        reseed_recommended:
          type: integer
          format: int32
          minimum: 0
    CloudHAStatus:
      type: object
      description: Cloud-visible hot-standby state observed from the operator/runtime.
      properties:
        health:
          $ref: '#/components/schemas/CloudHAHealth'
        identity:
          type: object
          additionalProperties: true
          description: Current HA identity, including cluster/timeline/epoch/current primary when observed.
        current_primary_id:
          type: string
        primary_lsn:
          type: integer
          format: int64
          minimum: 0
        primary_admin_reachable:
          type: boolean
          description: Whether the operator most recently reached the primary HA admin endpoint.
        primary_admin_last_error:
          type: string
          description: Latest primary HA admin observation error, when the primary could not be observed.
        primary_admin_status_code:
          type: integer
          format: int32
          description: Latest typed primary HA admin status-observation HTTP status code.
        desired_standby_count:
          type: integer
          format: int32
          minimum: 0
          description: Desired standby count reported by the operator.
        healthy_standby_count:
          type: integer
          format: int32
          minimum: 0
          description: Desired standbys caught up to apply.
        unhealthy_standby_count:
          type: integer
          format: int32
          minimum: 0
          description: Desired standbys missing, inactive, or reporting replication errors.
        lagging_standby_count:
          type: integer
          format: int32
          minimum: 0
          description: Desired standbys with non-zero replication lag.
        read_safe_standby_count:
          type: integer
          format: int32
          minimum: 0
          description: Desired standbys safe for bounded-staleness reads.
        reseed_required_count:
          type: integer
          format: int32
          minimum: 0
          description: Desired standbys requiring reseed.
        automatic_promotion_allowed:
          type: boolean
          description: Whether the operator planner currently allows automatic promotion.
        fencing_authority:
          $ref: '#/components/schemas/CloudHAFencingAuthority'
        fencing_state:
          type: string
        primary_route_state:
          type: string
        sync:
          $ref: '#/components/schemas/CloudHASyncStatus'
        retention:
          $ref: '#/components/schemas/CloudHARetentionStatus'
        planned_actions:
          type: array
          items:
            $ref: '#/components/schemas/CloudHAPlannedActionStatus'
        last_promotion:
          type: object
          additionalProperties: true
        former_primary:
          $ref: '#/components/schemas/CloudHAFormerPrimaryStatus'
        standbys:
          type: array
          items:
            $ref: '#/components/schemas/CloudHAStandbyStatus'
    CloudHAStatusSyncResponse:
      type: object
      required:
        - queued
        - ha_config
        - ha_status
      properties:
        queued:
          type: boolean
          description: Whether an immediate Cloud reconcile job was queued to refresh HA state.
        ha_config:
          $ref: '#/components/schemas/CloudHAConfig'
        ha_status:
          $ref: '#/components/schemas/CloudHAStatus'
    CloudInstanceTier:
      type: string
      enum:
        - starter
        - standard
        - pro
      description: Customer-facing cloud package baseline used for committed-capacity billing.
    CloudAPIKeyType:
      type: string
      enum:
        - read_only
        - read_write
        - admin
      description: API key permission level
    NodeConfig:
      type: object
      description: Cluster node configuration. Split metadata/data node counts apply only to distributed mode; single mode is normalized to one Antfly node.
      properties:
        metadata_nodes:
          type: integer
          minimum: 0
          default: 0
          description: Number of metadata (Raft consensus) nodes for distributed mode; ignored for single mode.
        data_nodes:
          type: integer
          minimum: 1
          default: 1
          description: Number of data (storage) nodes for distributed mode; single mode is always one Antfly node.
        cpu:
          type: string
          description: CPU request per node (e.g., "500m", "1000m")
          example: 500m
        memory:
          type: string
          description: Memory request per node (e.g., "4Gi", "8Gi")
          example: 4Gi
        storage:
          type: string
          description: 'Deprecated: use data_storage instead. Persistent storage per data node.'
          example: 10Gi
          deprecated: true
        metadata_storage:
          type: string
          description: Persistent storage per metadata node (e.g., "2Gi", "5Gi")
          example: 2Gi
        data_storage:
          type: string
          description: Persistent storage per data node (e.g., "10Gi", "50Gi")
          example: 10Gi
        replication_factor:
          type: integer
          minimum: 1
          default: 3
          description: Raft replication factor
        accelerator:
          type: object
          description: GPU/TPU accelerator configuration (reserved for future use)
          properties:
            type:
              type: string
              description: Accelerator type (e.g., "nvidia-tesla-t4", "nvidia-a100")
            count:
              type: integer
              minimum: 1
              description: Number of accelerators per node
    CloudInstance:
      type: object
      required:
        - id
        - organization_id
        - name
        - slug
        - tier
        - mode
        - status
        - region
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          description: Display name
          example: My Production DB
        slug:
          type: string
          description: URL-safe identifier (immutable)
          example: my-production-db
        tier:
          $ref: '#/components/schemas/CloudInstanceTier'
        mode:
          $ref: '#/components/schemas/CloudInstanceMode'
        ha_config:
          $ref: '#/components/schemas/CloudHAConfig'
        ha_status:
          $ref: '#/components/schemas/CloudHAStatus'
        status:
          $ref: '#/components/schemas/CloudInstanceStatus'
        region:
          type: string
          description: Deployment region
          example: us-central1
        node_config:
          $ref: '#/components/schemas/NodeConfig'
        provisioning_started_at:
          $ref: '#/components/schemas/Timestamp'
        provisioning_completed_at:
          $ref: '#/components/schemas/Timestamp'
        provisioning_error:
          type: string
          nullable: true
          description: Error message if provisioning failed
        version_policy:
          $ref: '#/components/schemas/CloudInstanceVersionPolicy'
        current_antfly_version:
          type: string
          nullable: true
          description: Currently healthy Antfly runtime version.
          example: v0.2.0
        current_antfly_image:
          type: string
          nullable: true
          description: Currently healthy Antfly runtime image.
        current_antfly_image_digest:
          type: string
          nullable: true
          description: Immutable digest for the current Antfly runtime image when known.
        target_antfly_version:
          type: string
          nullable: true
          description: Target Antfly runtime version for an in-progress or manual rollout.
          example: v0.2.1
        target_antfly_image:
          type: string
          nullable: true
          description: Target Antfly runtime image for an in-progress or manual rollout.
        target_antfly_image_digest:
          type: string
          nullable: true
          description: Immutable digest for the target Antfly runtime image when known.
        version_upgrade_status:
          $ref: '#/components/schemas/CloudInstanceVersionUpgradeStatus'
        version_upgrade_error:
          type: string
          nullable: true
          description: Error from the last Antfly runtime rollout.
        version_upgrade_started_at:
          $ref: '#/components/schemas/Timestamp'
        version_upgrade_completed_at:
          $ref: '#/components/schemas/Timestamp'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
    CreateCloudInstanceRequest:
      type: object
      required:
        - name
        - slug
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Display name
          example: My Production DB
        slug:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-z0-9][a-z0-9-]*[a-z0-9]$
          description: URL-safe identifier (immutable, lowercase, alphanumeric + hyphens)
          example: my-production-db
        region:
          type: string
          description: Deployment region (defaults to us-central1)
          example: us-central1
        tier:
          $ref: '#/components/schemas/CloudInstanceTier'
          default: standard
        mode:
          $ref: '#/components/schemas/CloudInstanceMode'
          default: single
        ha_config:
          x-go-type-skip-optional-pointer: false
          type: object
          allOf:
            - $ref: '#/components/schemas/CloudHAConfig'
          nullable: true
          description: Optional hot-standby HA add-on for single topology instances.
        node_config:
          $ref: '#/components/schemas/NodeConfigUpdate'
          description: Optional initial capacity overrides. When omitted, the tier and mode defaults are used.
        version_policy:
          $ref: '#/components/schemas/CloudInstanceVersionPolicy'
          description: Initial Antfly runtime upgrade policy. Defaults to patch_auto.
    CloudInstanceTable:
      type: object
      required:
        - id
        - organization_id
        - cloud_instance_id
        - slug
        - table_name
        - is_default
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        cloud_instance_id:
          $ref: '#/components/schemas/UUID'
        slug:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-z0-9](?:[a-z0-9_-]*[a-z0-9])?$
          example: events
        table_name:
          type: string
          description: Physical Antfly table name inside the cloud instance.
          example: acme_prod_events
        is_default:
          type: boolean
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
    CreateCloudInstanceTableRequest:
      type: object
      required:
        - slug
      properties:
        slug:
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^[a-z0-9](?:[a-z0-9_-]*[a-z0-9])?$
          example: events
        is_default:
          type: boolean
          default: false
    UpdateCloudInstanceRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New display name
        mode:
          $ref: '#/components/schemas/CloudInstanceMode'
          description: Change the instance deployment mode. Switching to distributed topology is billed before provisioning.
        ha_config:
          x-go-type-skip-optional-pointer: false
          type: object
          allOf:
            - $ref: '#/components/schemas/CloudHAConfig'
          nullable: true
          description: Enable, disable, or update the hot-standby HA add-on for single topology instances.
        tier:
          $ref: '#/components/schemas/CloudInstanceTier'
          description: Change the committed-capacity package baseline.
        node_config:
          $ref: '#/components/schemas/NodeConfigUpdate'
        version_policy:
          $ref: '#/components/schemas/CloudInstanceVersionPolicy'
          description: Change the Antfly runtime upgrade policy.
        target_antfly_version:
          type: string
          description: Explicit Antfly runtime version for a manual rollout or rollback. Requires target_antfly_image.
          example: v0.2.1
        target_antfly_image:
          type: string
          description: Explicit Antfly runtime image for a manual rollout or rollback. When set, Jobsaf patches AntflyCluster.spec.image and health-gates completion.
          example: us-central1-docker.pkg.dev/antfly-image-artifacts/containers/antfly:v0.2.1
        target_antfly_image_digest:
          type: string
          description: Optional immutable digest for the manual target image.
          example: sha256:abc123
        clear_antfly_version_target:
          type: boolean
          description: Clear a pending or failed manual Antfly runtime target without changing the live cluster image.
    NodeConfigUpdate:
      type: object
      description: Node configuration changes for scaling. Split metadata/data node counts apply only to distributed mode; single mode is normalized to one Antfly node.
      properties:
        metadata_nodes:
          type: integer
          minimum: 0
          description: Number of metadata (Raft consensus) nodes for distributed mode; ignored for single mode.
        data_nodes:
          type: integer
          minimum: 1
          description: Number of data (storage) nodes for distributed mode; single mode is always one Antfly node.
        cpu:
          type: string
          description: CPU request per node (e.g., "500m", "1000m")
        memory:
          type: string
          description: Memory request per node (e.g., "4Gi", "8Gi")
        storage:
          type: string
          description: 'Deprecated: use data_storage instead'
          deprecated: true
        metadata_storage:
          type: string
          description: Persistent storage per metadata node (e.g., "2Gi", "5Gi")
        data_storage:
          type: string
          description: Persistent storage per data node (e.g., "10Gi", "50Gi")
        accelerator:
          type: object
          x-go-type-skip-optional-pointer: false
          description: GPU/TPU accelerator configuration
          properties:
            type:
              type: string
              nullable: true
              x-go-type-skip-optional-pointer: false
              description: Accelerator type (e.g., "nvidia-tesla-t4", "nvidia-a100")
            count:
              type: integer
              minimum: 0
              nullable: true
              x-go-type-skip-optional-pointer: false
              description: Number of accelerators per node
    ConnectionDetails:
      type: object
      required:
        - proxy_url
        - dashboard_url
        - antfly_inference_proxy_url
        - status
      properties:
        proxy_url:
          type: string
          format: uri
          description: Colony proxy URL for accessing this instance
          example: https://platform.antfly.io/cloud/v1/abc123-def456
        dashboard_url:
          type: string
          format: uri
          description: Colony dashboard URL for opening the hosted Antfarm UI for this instance
          example: https://platform.antfly.io/cloud/instances/abc123-def456
        antfly_inference_proxy_url:
          type: string
          format: uri
          description: Colony proxy URL for accessing the attached Antfly Inference service for this instance
          example: https://platform.antfly.io/cloud/v1/abc123-def456/ai/v1
        status:
          $ref: '#/components/schemas/CloudInstanceStatus'
    CloudAPIKey:
      type: object
      required:
        - id
        - key_prefix
        - name
        - key_type
        - status
        - created_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        created_by_user_id:
          $ref: '#/components/schemas/UUID'
        cloud_instance_id:
          $ref: '#/components/schemas/UUID'
          nullable: true
        key_prefix:
          type: string
          description: Key prefix for identification (e.g., "antflydb_abc123" or "antfly_cloud_abc123")
          example: antflydb_abc123
        key_scope:
          type: string
          enum:
            - instance
            - management
          description: Whether the key authorizes instance data-plane or organization management APIs
        key_prefix_type:
          type: string
          enum:
            - antflydb
            - antfly_cloud
          description: Full-token prefix type
        name:
          type: string
          description: Human-readable key name
          example: Production API Key
        key_type:
          $ref: '#/components/schemas/CloudAPIKeyType'
        status:
          type: string
          enum:
            - active
            - revoked
        created_at:
          $ref: '#/components/schemas/Timestamp'
        last_used_at:
          $ref: '#/components/schemas/Timestamp'
        expires_at:
          $ref: '#/components/schemas/Timestamp'
        quota_queries_per_month:
          type: integer
          nullable: true
          description: Per-key monthly query quota (null = unlimited)
        allowed_tables:
          type: array
          nullable: true
          items:
            type: string
          description: Legacy table scope stored on the key. Prefer grants for managed RBAC keys.
        allowed_operations:
          type: array
          nullable: true
          items:
            type: string
          description: Legacy operation scope stored on the key. Prefer grants for managed RBAC keys.
        row_filter:
          type: object
          nullable: true
          additionalProperties: true
          description: Legacy per-table row filter stored on the key. Prefer grants for managed RBAC keys.
        grants:
          type: array
          items:
            $ref: '#/components/schemas/CloudGrant'
          description: Managed RBAC grants attached to this API-key principal.
        management_scopes:
          type: array
          items:
            type: string
          description: Antfly Cloud management actions allowed by antfly_cloud_* keys.
        hosted_inference_limits:
          $ref: '#/components/schemas/HostedInferenceLimits'
    HostedInferenceLimits:
      type: object
      description: Optional hosted inference spend and rate limits for an API key or organization.
      properties:
        requests_per_minute:
          type: integer
          minimum: 0
          description: External hosted inference requests per minute. Null or 0 inherits from the broader policy layer.
        tokens_per_minute:
          type: integer
          minimum: 0
          description: Estimated hosted inference text tokens per minute. Null or 0 inherits from the broader policy layer.
        concurrent_requests:
          type: integer
          minimum: 0
          description: Concurrent external hosted inference requests. Null or 0 inherits from the broader policy layer.
        managed_spend_cents_per_month:
          type: integer
          minimum: 0
          description: Monthly Antfly-managed provider spend in cents. Does not apply to BYOK provider spend. Null or 0 inherits from the broader policy layer.
    CloudAPIKeyCreated:
      type: object
      description: Returned only at creation time. The full key is never shown again.
      required:
        - id
        - key
        - key_prefix
        - name
        - key_type
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        key:
          type: string
          description: The full API key (only shown once)
          example: antflydb_abc123_sk_live_xxxxxxxxxxxxxxxxxxxxx
        key_prefix:
          type: string
          example: antflydb_abc123
        name:
          type: string
        key_type:
          $ref: '#/components/schemas/CloudAPIKeyType'
    CreateCloudAPIKeyRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable key name
          example: Production API Key
        key_type:
          $ref: '#/components/schemas/CloudAPIKeyType'
        expires_at:
          $ref: '#/components/schemas/Timestamp'
        quota_queries_per_month:
          type: integer
          nullable: true
          description: Per-key monthly query quota (null = unlimited)
        grants:
          type: array
          description: Optional initial grants for the created API key. subject_type and subject_id are assigned to the new cloud API key when omitted.
          items:
            $ref: '#/components/schemas/UpsertCloudGrantRequest'
        hosted_inference_limits:
          $ref: '#/components/schemas/HostedInferenceLimits'
    CreateCloudManagementAPIKeyRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable key name
          example: Antfly Cloud CLI
        scopes:
          type: array
          description: Antfly Cloud management actions allowed by the key. Defaults to read-only Antfly Cloud management scopes.
          items:
            type: string
        expires_at:
          $ref: '#/components/schemas/Timestamp'
        hosted_inference_limits:
          $ref: '#/components/schemas/HostedInferenceLimits'
    UpdateCloudAPIKeyRequest:
      type: object
      properties:
        hosted_inference_limits:
          nullable: true
          x-go-type-skip-optional-pointer: false
          description: Optional hosted inference limits update. Omit to leave unchanged; null or an empty object clears per-key limits.
          allOf:
            - $ref: '#/components/schemas/HostedInferenceLimits'
    ProvisioningEvent:
      type: object
      required:
        - id
        - cloud_instance_id
        - event_type
        - created_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        cloud_instance_id:
          $ref: '#/components/schemas/UUID'
        event_type:
          type: string
          description: Event type identifier
          example: cluster_created
        message:
          type: string
          nullable: true
          description: Human-readable event description
        metadata:
          type: object
          additionalProperties: true
          nullable: true
          description: Additional event context
        created_at:
          $ref: '#/components/schemas/Timestamp'
    InstanceMetrics:
      type: object
      required:
        - instance_id
        - status
        - table_count
      properties:
        instance_id:
          $ref: '#/components/schemas/UUID'
        status:
          $ref: '#/components/schemas/CloudInstanceStatus'
        storage_used_bytes:
          type: integer
          format: int64
          description: Total storage used in bytes
        document_count:
          type: integer
          format: int64
          description: Total document count across all tables
        table_count:
          type: integer
          description: Number of tables
        queries_this_month:
          type: integer
          description: Query count in current billing cycle
        node_count:
          type: integer
          description: Number of active nodes (metadata + data)
    CloudBackupStatus:
      type: string
      enum:
        - pending
        - in_progress
        - completed
        - failed
        - expired
      description: Backup lifecycle status
    CloudBackupType:
      type: string
      enum:
        - on_demand
        - scheduled
      description: Backup trigger type
    CloudRestoreStatus:
      type: string
      enum:
        - pending
        - in_progress
        - completed
        - failed
      description: Restore lifecycle status
    CloudBackup:
      type: object
      required:
        - id
        - cloud_instance_id
        - organization_id
        - backup_id
        - backup_type
        - status
        - location
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        cloud_instance_id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        backup_id:
          type: string
          description: AntflyDB backup identifier
          example: ci-001ab-1737200000
        backup_type:
          $ref: '#/components/schemas/CloudBackupType'
        status:
          $ref: '#/components/schemas/CloudBackupStatus'
        location:
          type: string
          description: S3 backup location
        table_names:
          type: array
          items:
            type: string
          nullable: true
          description: Tables included in backup. When null or omitted, includes all tables in the instance.
        retention_days:
          type: integer
          description: Days to retain this backup
        size_bytes:
          type: integer
          format: int64
          nullable: true
          description: Backup size in bytes
        error_message:
          type: string
          nullable: true
          description: Error message if backup failed
        started_at:
          $ref: '#/components/schemas/Timestamp'
        completed_at:
          $ref: '#/components/schemas/Timestamp'
        expires_at:
          $ref: '#/components/schemas/Timestamp'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
    CloudRestore:
      type: object
      required:
        - id
        - cloud_instance_id
        - organization_id
        - backup_id
        - location
        - status
        - restore_mode
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        cloud_instance_id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        backup_id:
          type: string
          description: AntflyDB backup identifier to restore from
        location:
          type: string
          description: S3 backup location
        status:
          $ref: '#/components/schemas/CloudRestoreStatus'
        restore_mode:
          type: string
          description: Restore mode (overwrite)
          default: overwrite
        table_names:
          type: array
          items:
            type: string
          nullable: true
          description: Tables to restore (null = all from backup)
        error_message:
          type: string
          nullable: true
          description: Error message if restore failed
        started_at:
          $ref: '#/components/schemas/Timestamp'
        completed_at:
          $ref: '#/components/schemas/Timestamp'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
    CloudBackupSchedule:
      type: object
      required:
        - id
        - cloud_instance_id
        - organization_id
        - schedule
        - retention_days
        - enabled
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        cloud_instance_id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        schedule:
          type: string
          description: Cron expression for backup schedule
          example: 0 2 * * *
        retention_days:
          type: integer
          description: Number of days to retain backups
          example: 7
        enabled:
          type: boolean
          description: Whether the schedule is active
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
    CreateCloudRestoreRequest:
      type: object
      required:
        - backup_id
      properties:
        backup_id:
          type: string
          description: The backup_id (AntflyDB identifier) of the backup to restore from
        table_names:
          type: array
          items:
            type: string
          nullable: true
          description: Tables to restore. When null or omitted, restores all tables from the backup.
    UpdateCloudBackupScheduleRequest:
      type: object
      properties:
        schedule:
          type: string
          description: Cron expression for backup schedule
          example: 0 2 * * *
        retention_days:
          type: integer
          minimum: 1
          maximum: 365
          description: Number of days to retain backups
        enabled:
          type: boolean
          description: Whether the schedule is active
    CloudUsageSummary:
      type: object
      required:
        - billing_cycle_start
        - billing_cycle_end
        - instances
        - totals
      properties:
        billing_cycle_start:
          type: string
          format: date-time
          description: Start of the current billing cycle
        billing_cycle_end:
          type: string
          format: date-time
          description: End of the current billing cycle
        instances:
          type: array
          items:
            $ref: '#/components/schemas/CloudInstanceUsage'
        totals:
          $ref: '#/components/schemas/CloudUsageTotals'
    CloudBillingCommitment:
      type: object
      required:
        - id
        - organization_id
        - cloud_instance_id
        - reason
        - billing_cycle_start
        - billing_cycle_end
        - window_start
        - window_end
        - credit_units
        - credit_units_delta
        - credits_consumed
        - credits_refunded
        - overage_credit_units
        - created_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        cloud_instance_id:
          $ref: '#/components/schemas/UUID'
        reason:
          type: string
          enum:
            - cloud_cycle_commitment
            - cloud_create
            - cloud_scale_up
            - cloud_disk_increase
            - cloud_ha_enable
            - cloud_commitment_refund
            - cloud_config_delta
        billing_cycle_start:
          $ref: '#/components/schemas/Timestamp'
        billing_cycle_end:
          $ref: '#/components/schemas/Timestamp'
        window_start:
          $ref: '#/components/schemas/Timestamp'
        window_end:
          $ref: '#/components/schemas/Timestamp'
        credit_units:
          type: integer
        credit_units_delta:
          type: integer
        credits_consumed:
          type: integer
          minimum: 0
        credits_refunded:
          type: integer
          minimum: 0
        overage_credit_units:
          type: integer
          minimum: 0
        created_at:
          $ref: '#/components/schemas/Timestamp'
        instance_name:
          type: string
        instance_slug:
          type: string
    CloudBillingCommitmentList:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CloudBillingCommitment'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    CloudCreditEstimateRequest:
      type: object
      required:
        - operation
      properties:
        operation:
          type: string
          enum:
            - create_instance
            - update_instance
          description: Cloud operation being estimated
        instance_id:
          $ref: '#/components/schemas/UUID'
          description: Required for update_instance estimates.
        tier:
          $ref: '#/components/schemas/CloudInstanceTier'
          default: standard
        mode:
          $ref: '#/components/schemas/CloudInstanceMode'
          default: single
        ha_config:
          x-go-type-skip-optional-pointer: false
          type: object
          allOf:
            - $ref: '#/components/schemas/CloudHAConfig'
          nullable: true
        node_config:
          $ref: '#/components/schemas/NodeConfigUpdate'
        region:
          type: string
          default: us-central1
          description: Cloud region for the estimate
        hours_per_month:
          type: integer
          minimum: 1
          maximum: 744
          default: 730
          description: Monthly hours used for the estimate
    CloudCreditEstimateMetric:
      type: object
      required:
        - metric_type
        - quantity
        - credit_units
        - display_value
        - display_unit
      properties:
        metric_type:
          type: string
          description: Internal raw usage metric being rated
          example: cloud_cpu_core_hour
        quantity:
          type: integer
          minimum: 0
          description: Internal metric quantity used for rating
        credit_units:
          type: integer
          minimum: 0
          description: Rated credit units for this metric
        display_value:
          type: number
          format: double
          description: Customer-readable usage quantity
        display_unit:
          type: string
          description: Customer-readable usage unit
          example: core-hours
    CloudCreditEstimate:
      type: object
      required:
        - operation
        - tier
        - mode
        - region
        - hours_per_month
        - allowed
        - credit_units
        - estimated_cents
        - monthly_package_cents
        - monthly_commitment_cents
        - prorated_package_cents
        - delta_cents
        - baseline_backfill_cents
        - covered_credit_units
        - overage_credit_units
        - balance_before
        - cloud_overage_enabled
        - metrics
      properties:
        operation:
          type: string
          enum:
            - create_instance
            - update_instance
        tier:
          $ref: '#/components/schemas/CloudInstanceTier'
        mode:
          $ref: '#/components/schemas/CloudInstanceMode'
        region:
          type: string
        hours_per_month:
          type: integer
        allowed:
          type: boolean
        reason:
          type: string
        credit_units:
          type: integer
          minimum: 0
        estimated_cents:
          type: integer
          minimum: 0
          description: Same value as credit_units because 1 cloud credit unit equals 1 cent
        monthly_package_cents:
          type: integer
          minimum: 0
          description: Full-month package floor for the selected tier.
        monthly_commitment_cents:
          type: integer
          minimum: 0
          description: Full-month committed-capacity estimate for the selected topology and node configuration.
        prorated_package_cents:
          type: integer
          minimum: 0
          description: Package floor portion for the estimated billing window.
        delta_cents:
          type: integer
          description: Signed committed-capacity delta for the estimated operation.
        baseline_backfill_cents:
          type: integer
          minimum: 0
          description: Full-cycle baseline charge that must be recorded before the requested update delta because the instance has no current-cycle baseline coverage.
        covered_credit_units:
          type: integer
          minimum: 0
        overage_credit_units:
          type: integer
          minimum: 0
        balance_before:
          type: integer
          minimum: 0
        cloud_overage_enabled:
          type: boolean
        spend_allowed:
          type: boolean
          description: Whether projected overage passes the current spend limit
        spend_limit_remaining_cents:
          type: integer
          minimum: 0
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/CloudCreditEstimateMetric'
    CloudInstanceUsage:
      type: object
      required:
        - instance_id
        - name
        - queries
        - cpu_core_hours
        - memory_gib_hours
        - disk_gib_hours
        - disk_usage_gib_hours
        - objectstore_gib_hours
        - accelerator_core_hours
      properties:
        instance_id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          description: Instance display name
        queries:
          type: integer
          description: Query count in current billing cycle
        cpu_core_hours:
          type: number
          format: double
          description: CPU core-hours consumed in current billing cycle
        memory_gib_hours:
          type: number
          format: double
          description: Memory GiB-hours consumed in current billing cycle
        disk_gib_hours:
          type: number
          format: double
          description: Provisioned disk GiB-hours in current billing cycle
        disk_usage_gib_hours:
          type: number
          format: double
          description: Disk usage GiB-hours in current billing cycle
        objectstore_gib_hours:
          type: number
          format: double
          description: Cold backup/object-store GiB-hours in current billing cycle
        accelerator_core_hours:
          type: number
          format: double
          description: GPU/TPU accelerator core-hours in current billing cycle
    CloudUsageTotals:
      type: object
      required:
        - queries
        - cpu_core_hours
        - memory_gib_hours
        - disk_gib_hours
        - disk_usage_gib_hours
        - objectstore_gib_hours
        - accelerator_core_hours
      properties:
        queries:
          type: integer
          description: Total queries across all instances
        cpu_core_hours:
          type: number
          format: double
          description: Total CPU core-hours across all instances
        memory_gib_hours:
          type: number
          format: double
          description: Total memory GiB-hours across all instances
        disk_gib_hours:
          type: number
          format: double
          description: Total provisioned disk GiB-hours across all instances
        disk_usage_gib_hours:
          type: number
          format: double
          description: Total disk usage GiB-hours across all instances
        objectstore_gib_hours:
          type: number
          format: double
          description: Total cold backup/object-store GiB-hours across all instances
        accelerator_core_hours:
          type: number
          format: double
          description: Total GPU/TPU accelerator core-hours across all instances
    CloudBackupDownload:
      type: object
      required:
        - download_url
        - expires_at
      properties:
        download_url:
          type: string
          format: uri
          description: Presigned S3 URL to download the backup
        expires_at:
          type: string
          format: date-time
          description: When the download URL expires
    CloudGroup:
      type: object
      required:
        - id
        - organization_id
        - name
        - slug
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        organization_id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        slug:
          type: string
        external_id:
          type: string
          nullable: true
          description: External SCIM group identifier, when the group is managed by SCIM.
        description:
          type: string
          nullable: true
        created_by:
[...]
