openapi: 3.0.3
info:
  title: Antfly Cloud Platform API
  description: Public management APIs for Antfly Cloud organizations, billing, authentication, hosted instances, Cloud RBAC, backups, metrics, and usage.
  version: 1.0.0
  contact:
    name: Antfly Cloud Support
    url: https://platform.antfly.io
  license:
    name: Proprietary
servers:
  - url: https://platform.antfly.io/api/v1
    description: Production
tags:
  - name: Users
    description: User account management
    x-displayName: Users
  - name: Organizations
    description: Organization management
    x-displayName: Organizations
  - name: Audit
    description: Audit log access
    x-displayName: Audit
  - name: Authentication
    x-displayName: Authentication
  - name: Subscriptions
    description: Subscription management
    x-displayName: Subscriptions
  - name: Billing
    description: Billing state and entitlement decisions
    x-displayName: Billing
  - name: Usage
    description: Usage tracking and quotas
    x-displayName: Usage
  - name: Instances
    description: Cloud instance lifecycle management
    x-displayName: Instances
  - name: CloudAPIKeys
    description: API key management for cloud instances
    x-displayName: CloudAPIKeys
  - name: CloudTables
    description: Logical table registry for cloud instances
    x-displayName: CloudTables
  - name: CloudMetrics
    description: Instance metrics and events
    x-displayName: CloudMetrics
  - name: CloudBackups
    description: Backup and restore management for cloud instances
    x-displayName: CloudBackups
  - name: CloudRBAC
    description: Cloud instance groups and grants
    x-displayName: CloudRBAC
  - name: CloudBilling
    description: Cloud committed-capacity billing and credits
    x-displayName: CloudBilling
  - name: CloudObservability
    description: Observability metrics for cloud instances
    x-displayName: CloudObservability
  - name: Login
    description: Email/password and OAuth login
    x-displayName: Login
  - name: Signup
    description: User registration and email verification
    x-displayName: Signup
  - name: TwoFactor
    description: Two-factor authentication setup and verification
    x-displayName: TwoFactor
  - name: Password
    description: Password management (forgot, reset, change, set)
    x-displayName: Password
  - name: Email
    description: Email change flow
    x-displayName: Email
  - name: Profile
    description: User profile and auth methods
    x-displayName: Profile
paths:
  /auth/signout:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Sign out user
      description: Clears authentication cookies (access_token and refresh_token)
      operationId: signOut
      tags:
        - Authentication
      security: []
      responses:
        '200':
          description: Successfully signed out
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '204':
          description: Successfully signed out, cookies cleared
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/me:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get current user
      description: Returns authenticated user profile
      operationId: getCurrentUser
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      summary: Update current user
      description: Update authenticated user profile
      operationId: updateCurrentUser
      tags:
        - Users
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 100
                avatar_url:
                  type: string
                  format: uri
                  nullable: true
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/me/invitations:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get pending invitations
      description: List pending invitations for the authenticated user
      operationId: getUserInvitations
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Pending invitations list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - invitation_id
                        - token
                        - email
                        - organization_id
                        - organization_name
                        - role
                        - invited_by
                        - invited_at
                        - expires_at
                      properties:
                        invitation_id:
                          $ref: '#/components/schemas/UUID'
                        token:
                          type: string
                          minLength: 64
                          maxLength: 64
                        email:
                          type: string
                          format: email
                        organization_id:
                          $ref: '#/components/schemas/UUID'
                        organization_name:
                          type: string
                        role:
                          type: string
                        invited_by:
                          type: object
                          required:
                            - user_id
                            - display_name
                          properties:
                            user_id:
                              $ref: '#/components/schemas/UUID'
                            display_name:
                              type: string
                        invited_at:
                          $ref: '#/components/schemas/Timestamp'
                        expires_at:
                          $ref: '#/components/schemas/Timestamp'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /organizations/check-slug:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Check organization slug availability
      description: Check if an organization slug is available and get suggestions if not
      operationId: checkOrganizationSlug
      tags:
        - Organizations
      security: []
      parameters:
        - name: slug
          in: query
          required: true
          schema:
            type: string
            pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
          description: The slug to check
      responses:
        '200':
          description: Slug availability result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlugCheckResult'
        '400':
          $ref: '#/components/responses/BadRequest'
  /organizations:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List organizations
      description: List organizations where user is a member
      operationId: listOrganizations
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Organizations list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Create organization
      description: Create new organization (user becomes owner)
      operationId: createOrganization
      tags:
        - Organizations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - slug
                - billing_email
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                slug:
                  type: string
                  pattern: ^[a-z0-9-]+$
                  minLength: 1
                  maxLength: 50
                billing_email:
                  type: string
                  format: email
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get organization
      description: Get organization details
      operationId: getOrganization
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update organization
      description: Update organization (requires admin+ role)
      operationId: updateOrganization
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                billing_email:
                  type: string
                  format: email
                settings:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete organization
      description: Delete organization (requires owner role)
      operationId: deleteOrganization
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '204':
          description: Organization deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/members:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List organization members
      description: List all members of organization
      operationId: listOrganizationMembers
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Members list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganizationMember'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Invite member
      description: Invite user to organization (requires admin+ role)
      operationId: inviteOrganizationMember
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - role
              properties:
                email:
                  type: string
                  format: email
                role:
                  $ref: '#/components/schemas/OrganizationRole'
      responses:
        '201':
          description: Member invited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationResponse-2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/members/{member_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    patch:
      summary: Update member role
      description: Update organization member role (requires admin+ role, cannot change owner)
      operationId: updateMemberRole
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/MemberId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
              properties:
                role:
                  type: string
                  enum:
                    - admin
                    - developer
                  description: New role for the member (cannot set to owner via this endpoint)
      responses:
        '200':
          description: Member role updated
          content:
            application/json:
              schema:
                type: object
                required:
                  - user_id
                  - organization_id
                  - role
                  - updated_at
                properties:
                  user_id:
                    $ref: '#/components/schemas/UUID'
                  organization_id:
                    $ref: '#/components/schemas/UUID'
                  role:
                    type: string
                  updated_at:
                    $ref: '#/components/schemas/Timestamp'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Remove member
      description: Remove user from organization (requires admin+ role)
      operationId: removeOrganizationMember
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/MemberId'
      responses:
        '204':
          description: Member removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/members/{member_id}/metadata:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    patch:
      summary: Update member metadata
      description: Replace organization-scoped metadata for a member's role context.
      operationId: updateMemberMetadata
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/MemberId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - metadata
              properties:
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Member metadata updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /organizations/{org_id}/transfer-ownership:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Transfer organization ownership
      description: Transfer organization ownership to another admin (requires owner role + password confirmation or OAuth re-authentication)
      operationId: transferOrganizationOwnership
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - new_owner_id
              properties:
                new_owner_id:
                  $ref: '#/components/schemas/UUID'
                  description: User ID of the new owner (must be an admin)
                password:
                  type: string
                  format: password
                  description: Current owner's password for confirmation (required if not using reauth_verified)
                reauth_verified:
                  type: boolean
                  description: Set to true after OAuth re-authentication (alternative to password)
      responses:
        '200':
          description: Ownership transferred successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - organization_id
                  - old_owner_id
                  - new_owner_id
                  - transferred_at
                properties:
                  organization_id:
                    $ref: '#/components/schemas/UUID'
                  old_owner_id:
                    $ref: '#/components/schemas/UUID'
                  new_owner_id:
                    $ref: '#/components/schemas/UUID'
                  transferred_at:
                    $ref: '#/components/schemas/Timestamp'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /invitations/{token}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get invitation details
      description: Retrieve invitation details by token (public endpoint)
      operationId: getInvitation
      tags:
        - Organizations
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            minLength: 64
            maxLength: 64
          description: Invitation token
      responses:
        '200':
          description: Invitation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvitationResponse-2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Revoke invitation
      description: Revoke an invitation token (requires authentication - only inviter or org admin/owner can revoke)
      operationId: revokeInvitation
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            minLength: 64
            maxLength: 64
          description: Invitation token
      responses:
        '204':
          description: Invitation revoked successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /invitations/{token}/accept:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Accept invitation
      description: Accept an invitation token and create membership (requires authenticated user)
      operationId: acceptInvitation
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            minLength: 64
            maxLength: 64
          description: Invitation token
      responses:
        '200':
          description: Invitation accepted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptInvitationResponse-2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /invitations/{token}/resend:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Resend invitation
      description: Resend invitation email with a new token (requires authentication - only inviter or org admin/owner can resend)
      operationId: resendInvitation
      tags:
        - Organizations
      security:
        - BearerAuth: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            minLength: 64
            maxLength: 64
          description: Original invitation token
      responses:
        '200':
          description: Invitation resent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendInvitationResponse-2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /organizations/{org_id}/audit-logs:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List audit logs
      description: List audit logs for organization (requires admin+ role)
      operationId: listAuditLogs
      tags:
        - Audit
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
        - name: entity_type
          in: query
          schema:
            $ref: '#/components/schemas/EntityType'
        - name: entity_id
          in: query
          schema:
            $ref: '#/components/schemas/UUID'
        - name: action
          in: query
          schema:
            $ref: '#/components/schemas/AuditAction'
      responses:
        '200':
          description: Audit logs list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/billing/state:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get billing state
      description: Get normalized billing state, including plan, limits, and entitlement decisions.
      operationId: getBillingState
      tags:
        - Billing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Billing state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingState'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/billing/credit-ledger:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List credit ledger entries
      description: Get credit ledger entries for an organization, newest first.
      operationId: getCreditLedger
      tags:
        - Billing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: product_family
          in: query
          schema:
            type: string
          description: Optional product-family filter, for example `ai`
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Credit ledger entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCreditLedgerList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/billing/spend-limits:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List spend limits
      description: Get configured spend limits for an organization.
      operationId: getSpendLimits
      tags:
        - Billing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Spend limits
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillingSpendLimit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      summary: Upsert spend limit
      description: Create or update a spend limit for an organization. Requires owner or admin role.
      operationId: upsertSpendLimit
      tags:
        - Billing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_family
                - period
                - limit_cents
              properties:
                product_family:
                  type: string
                  example: cloud
                period:
                  type: string
                  enum:
                    - monthly
                limit_cents:
                  type: integer
                  minimum: 0
                alert_threshold_cents:
                  type: integer
                  minimum: 0
                enforcement_enabled:
                  type: boolean
                  description: Defaults to true when omitted
      responses:
        '200':
          description: Spend limit upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSpendLimit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/billing/spend-records:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List spend records
      description: Get monetary spend records for an organization, newest first.
      operationId: getSpendRecords
      tags:
        - Billing
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: product_family
          in: query
          schema:
            type: string
          description: Optional product-family filter, for example `cloud` or `ai`
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Spend records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSpendRecordList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/subscription:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get subscription
      description: Get organization subscription details
      operationId: getSubscription
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create subscription
      description: Create Stripe subscription for organization (requires admin+ role)
      operationId: createSubscription
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - plan_type
                - payment_method_id
              properties:
                plan_type:
                  $ref: '#/components/schemas/PurchasablePlanType'
                payment_method_id:
                  type: string
                  description: Stripe payment method ID
                  example: pm_1234567890
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    patch:
      summary: Update subscription
      description: Update subscription plan (requires admin+ role)
      operationId: updateSubscription
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan_type:
                  $ref: '#/components/schemas/PurchasablePlanType'
                payment_method_id:
                  type: string
                  description: New Stripe payment method ID
      responses:
        '200':
          description: Subscription updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Cancel subscription
      description: Cancel subscription (requires admin+ role, downgrades to free)
      operationId: cancelSubscription
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '204':
          description: Subscription canceled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/subscription/portal:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Create billing/checkout session
      description: |
        Smart billing endpoint that automatically routes users based on their subscription status:
        - **Paid plan users** → Redirected to Stripe Billing Portal (manage payment, view invoices, cancel)
        - **Free plan users** → Redirected to Stripe Checkout (upgrade to paid plan)

        The response includes a `type` field indicating which flow was used.
      operationId: createBillingSession
      tags:
        - Subscriptions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - return_url
              properties:
                return_url:
                  type: string
                  format: uri
                  description: URL to return to after session completes
                  example: https://platform.antfly.io/settings/billing
                plan:
                  type: string
                  enum:
                    - growth
                    - enterprise
                  description: |
                    Plan to upgrade to (only used for free plan users).
                    Defaults to "growth" if not specified.
                  example: growth
                intent:
                  type: string
                  enum:
                    - setup_payment_method
                    - start_subscription
                    - manage_billing
                  description: Billing action requested by the caller. Defaults to smart routing.
                  example: setup_payment_method
      responses:
        '200':
          description: Session created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - url
                  - type
                properties:
                  url:
                    type: string
                    format: uri
                    description: Redirect URL for Stripe session
                    example: https://checkout.stripe.com/c/pay/cs_test_...
                  type:
                    type: string
                    enum:
                      - portal
                      - checkout
                      - setup
                    description: Type of session created
                    example: checkout
              examples:
                checkout:
                  summary: Free user upgrade flow
                  value:
                    url: https://checkout.stripe.com/c/pay/cs_test_...
                    type: checkout
                portal:
                  summary: Paid user billing portal
                  value:
                    url: https://billing.stripe.com/p/session/test_...
                    type: portal
                setup:
                  summary: Payment method setup flow
                  value:
                    url: https://checkout.stripe.com/c/setup/cs_test_...
                    type: setup
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/usage:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get current usage
      description: Get current billing cycle usage and quotas
      operationId: getCurrentUsage
      tags:
        - Usage
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/usage/history:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get usage history
      description: Get historical usage data by billing cycle
      operationId: getUsageHistory
      tags:
        - Usage
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: start_date
          in: query
          schema:
            $ref: '#/components/schemas/Date'
          description: Start date (YYYY-MM-DD)
        - name: end_date
          in: query
          schema:
            $ref: '#/components/schemas/Date'
          description: End date (YYYY-MM-DD)
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Usage history
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageHistory'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/estimate:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Estimate cloud credits
      description: Estimate cloud credit usage and spend-limit impact for a prospective cloud operation.
      operationId: estimateCloudCredits
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudCreditEstimateRequest'
      responses:
        '200':
          description: Cloud credit estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudCreditEstimate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/commitments:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List cloud billing commitments
      description: List committed-capacity charges and refunds for cloud instances.
      operationId: listCloudCommitments
      tags:
        - CloudBilling
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: instance_id
          in: query
          schema:
            $ref: '#/components/schemas/UUID'
          description: Optional cloud instance filter
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Cloud billing commitments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBillingCommitmentList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/instances:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List cloud instances
      description: List all cloud instances for an organization
      operationId: listCloudInstances
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Cloud instances
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudInstance'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create cloud instance
      description: |
        Create a new hosted AntflyDB instance. Provisioning is asynchronous —
        the instance is created with status=pending and a dedicated cluster is
        provisioned in the background.
      operationId: createCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudInstanceRequest'
      responses:
        '201':
          description: Provisioning started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}/cloud/instances/{instance_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get cloud instance
      description: Get cloud instance details including status and connection info
      operationId: getCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Cloud instance details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update cloud instance
      description: Update instance configuration (rename, scale)
      operationId: updateCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudInstanceRequest'
      responses:
        '200':
          description: Cloud instance updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete cloud instance
      description: |
        Delete a cloud instance. Deprovisioning is asynchronous — the instance
        status is set to deprovisioning and the dedicated cluster is cleaned up
        in the background.
      operationId: deleteCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '202':
          description: Deletion accepted (may be async for dedicated clusters)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/provision:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Provision cloud instance
      description: |
        Retry or repair provisioning for an existing cloud instance. This action
        reconciles existing infrastructure in place and does not delete the
        instance namespace, CRD, or persistent volumes.
      operationId: provisionCloudInstance
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Provisioning already active or instance already ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '202':
          description: Provisioning accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}/cloud/instances/{instance_id}/tables:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List cloud instance tables
      description: List logical tables registered for a cloud instance.
      operationId: listCloudInstanceTables
      tags:
        - CloudTables
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Cloud instance tables
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudInstanceTable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create cloud instance table
      description: Register and create a table in the cloud instance.
      operationId: createCloudInstanceTable
      tags:
        - CloudTables
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudInstanceTableRequest'
      responses:
        '201':
          description: Cloud instance table created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInstanceTable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/groups:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List cloud groups
      operationId: listCloudGroups
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Cloud groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudGroup'
                  meta:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create cloud group
      operationId: createCloudGroup
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudGroupRequest'
      responses:
        '201':
          description: Cloud group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/groups/{group_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    patch:
      summary: Update cloud group
      operationId: updateCloudGroup
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/GroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudGroupRequest'
      responses:
        '200':
          description: Cloud group updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/users/{user_id}/attributes:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get cloud user attributes
      operationId: getCloudUserAttributes
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: user_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Cloud user attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudUserAttributes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update cloud user manual attributes
      operationId: updateCloudUserAttributes
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - name: user_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudUserAttributesRequest'
      responses:
        '200':
          description: Cloud user attributes updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudUserAttributes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/scim/groups:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    put:
      summary: Sync SCIM cloud groups
      description: Upsert SCIM-managed groups and replace their membership snapshots for an organization.
      operationId: syncCloudSCIMGroups
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudSCIMGroupSyncRequest'
      responses:
        '200':
          description: SCIM groups synced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudSCIMGroupSyncResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/groups/{group_id}/members:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List cloud group members
      operationId: listCloudGroupMembers
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/GroupId'
      responses:
        '200':
          description: Cloud group members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudGroupMember'
                  meta:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Add cloud group member
      operationId: addCloudGroupMember
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/GroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCloudGroupMemberRequest'
      responses:
        '201':
          description: Group member added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGroupMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/groups/{group_id}/members/{user_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    delete:
      summary: Remove cloud group member
      operationId: removeCloudGroupMember
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/GroupId'
        - name: user_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Group member removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/grants:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List cloud grants
      operationId: listCloudGrants
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Cloud grants
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudGrant'
                  meta:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      summary: Upsert cloud grant
      operationId: upsertCloudGrant
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCloudGrantRequest'
      responses:
        '200':
          description: Cloud grant upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGrant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/instances/{instance_id}/grants/{grant_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    delete:
      summary: Delete cloud grant
      operationId: deleteCloudGrant
      tags:
        - CloudRBAC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - name: grant_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Cloud grant deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/connection:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get connection details
      description: Get connection URL and instructions for connecting to the instance
      operationId: getCloudInstanceConnection
      tags:
        - Instances
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Connection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/events:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List provisioning events
      description: Get provisioning and lifecycle events for a cloud instance
      operationId: listCloudInstanceEvents
      tags:
        - CloudMetrics
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Provisioning events
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProvisioningEvent'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/metrics:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get instance metrics
      description: Get storage, query, and node health metrics for a cloud instance
      operationId: getCloudInstanceMetrics
      tags:
        - CloudMetrics
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Instance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/api-keys:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List Antfly Cloud management API keys
      description: List organization-scoped Antfly Cloud management API keys
      operationId: listCloudManagementAPIKeys
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Management API keys
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudAPIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create Antfly Cloud management API key
      description: Create an organization-scoped antfly_cloud_* key for Antfly Cloud management API calls
      operationId: createCloudManagementAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudManagementAPIKeyRequest'
      responses:
        '201':
          description: Management API key created. The full key is only returned once at creation time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAPIKeyCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/api-keys/{key_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    delete:
      summary: Revoke Antfly Cloud management API key
      description: Revoke an organization-scoped antfly_cloud_* management API key
      operationId: revokeCloudManagementAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/CloudKeyId'
      responses:
        '204':
          description: Management API key revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/api-keys:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List cloud API keys
      description: List API keys for a cloud instance
      operationId: listCloudAPIKeys
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: API keys
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudAPIKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create cloud API key
      description: Create a new API key for accessing the cloud instance
      operationId: createCloudAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudAPIKeyRequest'
      responses:
        '201':
          description: API key created. The full key is only returned once at creation time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAPIKeyCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/api-keys/{key_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    delete:
      summary: Revoke cloud API key
      description: Revoke an API key for a cloud instance
      operationId: revokeCloudAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/CloudKeyId'
      responses:
        '204':
          description: API key revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/backups:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List cloud backups
      description: List backups for a cloud instance
      operationId: listCloudBackups
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Backup list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - total
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudBackup'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create on-demand backup
      description: Trigger an on-demand backup for the cloud instance
      operationId: createCloudBackup
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '202':
          description: Backup accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}/cloud/instances/{instance_id}/backups/{backup_record_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get cloud backup
      description: Get details of a specific backup
      operationId: getCloudBackup
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/BackupRecordId'
      responses:
        '200':
          description: Backup details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete cloud backup
      description: Delete a backup record
      operationId: deleteCloudBackup
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/BackupRecordId'
      responses:
        '204':
          description: Backup deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/restore:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Restore from backup
      description: Restore a cloud instance from a backup using overwrite mode
      operationId: createCloudRestore
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudRestoreRequest'
      responses:
        '202':
          description: Restore accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRestore'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /organizations/{org_id}/cloud/instances/{instance_id}/restores:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: List cloud restores
      description: List restore operations for a cloud instance
      operationId: listCloudRestores
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Restore list
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - total
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CloudRestore'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/restores/{restore_id}:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get cloud restore
      description: Get details of a specific restore operation
      operationId: getCloudRestore
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/RestoreId'
      responses:
        '200':
          description: Restore details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRestore'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/usage:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get cloud usage
      description: Get current billing cycle usage for all cloud instances in an organization
      operationId: getCloudUsage
      tags:
        - CloudMetrics
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudUsageSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /organizations/{org_id}/cloud/instances/{instance_id}/api-keys/{key_id}/rotate:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Rotate cloud API key
      description: Revoke the existing key and create a new one with the same name and permissions
      operationId: rotateCloudAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/CloudKeyId'
      responses:
        '200':
          description: New API key (old key revoked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAPIKeyCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/api-keys/{key_id}/rotate:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    post:
      summary: Rotate Antfly Cloud management API key
      description: Atomically revoke an antfly_cloud_* key and create a replacement with the same scopes
      operationId: rotateCloudManagementAPIKey
      tags:
        - CloudAPIKeys
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/CloudKeyId'
      responses:
        '200':
          description: Management API key rotated. The replacement full key is only returned once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAPIKeyCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/backups/{backup_record_id}/download:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get backup download URL
      description: Get a presigned URL to download a completed backup
      operationId: downloadCloudBackup
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - $ref: '#/components/parameters/BackupRecordId'
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackupDownload'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/backup-schedule:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
    get:
      summary: Get backup schedule
      description: Get the backup schedule configuration for a cloud instance
      operationId: getCloudBackupSchedule
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Backup schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackupSchedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update backup schedule
      description: Create or update the backup schedule for a cloud instance
      operationId: updateCloudBackupSchedule
      tags:
        - CloudBackups
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudBackupScheduleRequest'
      responses:
        '200':
          description: Backup schedule updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudBackupSchedule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{org_id}/cloud/instances/{instance_id}/metrics/panels:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
      - url: http://localhost:8082/api/v1
        description: Local Development
    get:
      tags:
        - CloudObservability
      operationId: listMetricPanels
      summary: List available metric panels for a cloud instance
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
      responses:
        '200':
          description: Available panels
          content:
            application/json:
              schema:
                type: object
                required:
                  - panels
                properties:
                  panels:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetricPanel'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
        - BearerAuth: []
  /organizations/{org_id}/cloud/instances/{instance_id}/metrics/query:
    servers:
      - url: https://platform.antfly.io/api/v1
        description: Production
      - url: http://localhost:8082/api/v1
        description: Local Development
    get:
      tags:
        - CloudObservability
      operationId: queryMetricPanel
      summary: Query one metric panel for a cloud instance
      parameters:
        - $ref: '#/components/parameters/OrgId'
        - $ref: '#/components/parameters/InstanceId'
        - name: panel
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: step
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Time-series query response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricQueryResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      security:
        - BearerAuth: []
  /login:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    post:
      summary: Login with email and password
      operationId: postAuthLogin
      tags:
        - Login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful or 2FA required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: Account inactive or email not verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /signup:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    post:
      summary: Sign up with email and password
      operationId: postAuthSignup
      tags:
        - Signup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /verify-email:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    post:
      summary: Verify email address
      operationId: postAuthVerifyEmail
      tags:
        - Signup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Email verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /resend-verification:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    post:
      summary: Resend verification email
      operationId: postAuthResendVerification
      tags:
        - Signup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerificationRequest'
      responses:
        '200':
          description: Verification email sent (always returns success for anti-enumeration)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /oauth/{provider}/login:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    get:
      summary: Initiate OAuth login
      description: Redirects to OAuth provider login page
      operationId: getAuthOauthProviderLogin
      tags:
        - Login
      security: []
      parameters:
        - $ref: '#/components/parameters/OAuthProvider'
        - name: return_to
          in: query
          schema:
            type: string
          description: URL to return to after OAuth flow
      responses:
        '200':
          description: OAuth URL generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '302':
          description: Redirect to OAuth provider
        '400':
          description: Unsupported provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /oauth/{provider}/callback:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    get:
      summary: OAuth callback handler
      description: Handles OAuth provider callback, creates session, and redirects
      operationId: getAuthOauthProviderCallback
      tags:
        - Login
      security: []
      parameters:
        - $ref: '#/components/parameters/OAuthProvider'
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: OAuth authorization code
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: CSRF protection state
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '302':
          description: Redirect after successful authentication
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '403':
          description: State mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /oauth/{provider}/link:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    get:
      summary: Link OAuth provider to account
      description: Initiates OAuth flow to link a provider to the authenticated user's account
      operationId: getAuthOauthProviderLink
      tags:
        - Login
      security:
        - CookieAuth: []
      parameters:
        - $ref: '#/components/parameters/OAuthProvider'
      responses:
        '200':
          description: Redirect initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '302':
          description: Redirect to OAuth provider
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /oauth/{provider}/unlink:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    post:
      summary: Unlink OAuth provider from account
      operationId: postAuthOauthProviderUnlink
      tags:
        - Login
      security:
        - CookieAuth: []
      parameters:
        - $ref: '#/components/parameters/OAuthProvider'
      responses:
        '200':
          description: Provider unlinked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Cannot remove last auth method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /2fa/verify:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    post:
      summary: Verify 2FA code during login
      operationId: postAuth2faVerify
      tags:
        - TwoFactor
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorVerifyRequest'
      responses:
        '200':
          description: 2FA verification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFactorRedirectResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '401':
          description: Invalid code or token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /2fa/verify-backup:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    post:
      summary: Verify backup code during login
      operationId: postAuth2faVerifyBackup
      tags:
        - TwoFactor
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorVerifyBackupRequest'
      responses:
        '200':
          description: Backup code verification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFactorRedirectResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
        '401':
          description: Invalid code or token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
  /2fa/setup:
    servers:
      - url: https://auth.antfly.io/auth/v1
        description: Production
    post:
      summary: Setup 2FA
      description: Generate TOTP secret and QR code URL for setting up 2FA
      operationId: postAuth2faSetup
      tags:
        - TwoFactor
      security:
        - CookieAuth: []
      responses:
        '200':
          description: 2FA setup initiated
          content:
            application/json:
              schema:
[...]
